<a href {{action "closeMessage"}} class='close'>{{fa-icon "close"}}</a>
<div>{{i18n 'composer.topic_type.suggestion' createType=message.createType}}</div>
<div class='controls'>
  {{d-button class="btn-primary" label="composer.modal_ok" action="ok"}}
  {{d-button class="btn-danger" label="composer.modal_cancel" action="cancel"}}
</div>
